@model IEnumerable<MovieShop.Models.DataBase.Movie>

  
<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Poster</h4>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.PosterPath" alt="Movie Poster" width="100" height="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    <a asp-controller="Movie" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Movie" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Movie" asp-action="CopyAMovie" asp-route-id="@item.Id">Copy</a>
                </td>
            
        </tr>
}
    </tbody>
</table>
