@model MovieShop.Models.DataBase.Movie


@{
    ViewData["Title"] = "Details";
}

<div class="col-md-10 bg-primary-subtle text-light">
    <br />
    <br />
    <br />
    <div>
        <h2>
            @Model.Title
        </h2>
        <div class="float-end"><img src="@Model.PosterPath" alt="Movie Poster" width="400" height="350" /></div>
    </div>
    <div>
            <em> Directed By: @Model.Director</em>
    </div>
    <div>
            <i>   Released in: @Model.ReleaseYear</i>
    </div>
    <div class="offset-md-9">
        <strong>Price: @Model.Price kr</strong>
        <hr />
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

