@model List<MovieShop.Models.DataBase.Customer>
@{
    ViewData["Title"] = "List of all Customer";
}

<div class="container mt-4">
    <h2 class="mb-4">List of Customers</h2>
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstNameBillingAddress</td>
                        <td>@customer.LastNameBillingAddress</td>
                        <td>@customer.EmailAddress</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@customer.Id" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this customer?');">Delete</button>
                            </form>
                            <a asp-action="EditCustomer" asp-route-email="@customer.EmailAddress" class="btn btn-primary btn-sm">Edit</a>
                            <a asp-action="AllOrderByCustomer" asp-route-id="@customer.Id" class="btn btn-light btn-sm">Orders</a>
                        </td>
                    </tr>

                }
            </tbody>
           
        </table>
       
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            No customers available.
        </div>
    }
</div>